<div class="container">
	<div class="navbar-header">
		<h1>{{staticMenu.title2}}</h1>
	</div>
	<div class="col-md-6">
            <div class="page-header">
                <button class="btn btn-default"   [class.disabled]="isLangEn"  (click)="changeLang('en')">EN</button>
                <button class="btn btn-default"  [class.disabled]="!isLangEn"  (click)="changeLang('ru')">RU</button>
            </div>
        </div>
	<br>
	<h3>{{staticMenu.text}} {{name}}</h3>
	<hr>
	<button type="button" class="btn btn-default" routerLink="">{{staticMenu.button_goHome}}</button>
</div>
	